@use "../settings" as *;
@use "../tools" as *;

.page-container {
  @include font-size(med);

  display: flex;
  justify-content: space-around;
  margin-block: $lg-space;

  &__current-page {
    padding: $sm-space;
  }
}
