@use "../settings" as *;
@use "../tools" as *;

.project-task {
  margin-block: $xl-space;
  border-bottom: 1px solid $accent-color;
  padding: $xs-space;

  &__content {
    @include font-size(med);
  }

  &__labels {
    column-gap: $lg-space;
    display: flex;
    flex-wrap: wrap;
  }
}
