@use "../settings" as *;
@use "../tools" as *;

.sort-by {
  @include font-size(sm);

  border: 3px solid $accent-color;
  border-radius: $sm-space;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__button {
    align-items: center;
    background: $active-color;
    display: flex;
    flex-direction: column;
    width: 50%;

    &:disabled {
      background: $inactive-color;
    }
  }
}
