@use "../settings" as *;
@use "../tools" as *;

.text-with-icon {
  @include font-size(sm);

  display: flex;
  padding-block: $sm-space;

  &__icon {
    @include height(sm);

    padding-inline-end: $sm-space;
  }
}
