// Colors
$black: rgb(32 32 32 / 100%);
$blue: rgb(78 148 175 / 100%);
$gray: rgb(109 109 109 / 100%);
$green: rgb(81 145 43 / 100%);
$lightgray: rgb(245 239 238 / 100%);
$pink: rgb(250 231 228 / 100%);
$red: rgb(204 76 80 / 100%);
$white: rgb(255 255 255 / 100%);
$background-color: $white;
$accent-color: $lightgray;
$active-color: $lightgray;
$inactive-color: $white;
$subtle-color: $gray;
$text-color: $black;
$warning-color: $red;

// Fonts
$font-family: sans-serif;

// Sizes
$lg-screen: 50rem;
$med-screen: 30rem;
$sm-screen: 20rem;

// Spaces
$xs-space: 0.1875rem;
$sm-space: 0.3125rem;
$med-space: 0.625rem;
$lg-space: 1rem;
$xl-space: 2rem;

// Weight
$extra-bold: 700;
$bold: 600;
$normal: 500;
$light: 400;
