// Colors
$black: rgb(41 35 35 / 100%);
$blue: rgb(74 75 108 / 100%);
$brown: rgb(116 75 66 / 100%);
$gold: rgb(188 163 110 / 100%);
$green: rgb(95 95 82 / 100%);
$light-tan: rgb(243 231 228);
$red: rgb(104 40 52 / 100%);
$tan: rgb(176 159 148 / 100%);
$background-color: $tan;
$text-color: $black;
$font-family: serif;
